---
import Layout from "../layouts/Layout.astro";
import FeedbackButton from "../components/Feedback/FeedbackButton"

---

<Layout title="Welcome to Astro.">
  <FeedbackButton client:only="solid-js"/>
  <a href="/">lol</a>
</Layout>
