---
import Layout from "../layouts/Layout.astro";
import FeedbackButton from "../components/Feedback/FeedbackButton";
import LoginButton from "../components/Login/LoginButton";
import User from "../components/User/User";
import AdminLinks from "../components/AdminLinks/AdminLinks";
---

<Layout title="Tilbakemelding">
  <h1>Tilbakemeldingstjeneste</h1>

  <div>
    <FeedbackButton client:only="solid-js">
      Gi oss din tilbakemelding!
    </FeedbackButton>
    <LoginButton client:only="solid-js" />
  </div>
  <User client:only="solid-js" />
  <AdminLinks path={Astro.url.pathname} client:only="solid-js"/>
</Layout>

<style>
  div {
    display: flex;
    gap: 5px;
  }
</style>